.lista-celulares {
    display: flex;
    background-color: #333;
    flex-direction: row; /* Dirección de los elementos: de izquierda a derecha */
}

.contenedor-general {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente línea */
    justify-content: space-between; /* Espaciar los elementos uniformemente en la fila */
    background-color: #1f113e;
    padding: 10px;
}

.celular {
    width: 200px; /* Ancho de cada celular */
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.imagen {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.info {
    margin-top: 10px;
}

.id {
    margin-top: 5px;
    color: #555;
}

.nombre {
    font-weight: bold;
}

.precio {
    margin-top: 5px;
    color: #555;
}

.boton {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.boton:hover {
    background-color: #00901a;
}

@media (max-width: 768px) {
    .contenedor-general {
        justify-content: center; /* Centrar los elementos en dispositivos móviles */
    }

    .celular {
        width: calc(50% - 20px); /* Ancho del celular para que haya dos en una fila, con un margen de 10px a cada lado */
    }
}
