
.register-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    border: 2px solid #1426b0;
    border-radius: 5px;
    background-color: #070c3f;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 2px solid #7c84cb;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: rgb(242, 242, 242);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004793;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
